body{
    background:white;
    background:linear-gradient(rgb(153, 140, 140));
    background-attachment:fixed;
    margin:0;
    font-family: 'poppins',sans-serif;

}
#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color:whitesmoke;
    border-radius:5px;
    padding:30px;
}
h1{
    color:blue;
}
#form button{
    background-color:aqua;
    color:white;
    border: 1px solid aqua;border-radius: 5px;
    padding:10px;
}
button{
    background-color:blue;
    font: size 20px;
    color:white;
    margin-top:10px;
    padding:15px;
    border-radius:8px;
    box-shadow:2px;

}
.input-group{

    flex-direction:column;
    margin-bottom:15px;
}
.input-group input{
    border-radius:5px;
    font-size:20px;
}


